/* 管理機能 */
#!include ../../../users/template.css;

h1{
	display:block;
	font-size:1.1em;
}
h1 label{
	display:flex;
}
#exit{
	color:#fff;
}
select, option{
	font-size:1em;
	background:#fffa;
	color:#000;
}
input[type="text"]{
	border:solid 1px #ccc;
	font-size:1em;
	width:10em;
	outline:0;
}
tbody input[type="text"]{
	width:100%;
	border:0;
}
h1 input[type="text"]{
	flex:1;
}

table{
	width:100%;
	border-collapse:collapse;
	border:0;
}
tbody{
	background:#fff;
}
th{
	text-align:left;
}
tbody a, tbody a:hover{
	text-decoration:none;
	font-weight:normal;
}
.select_row{
	background:#3ad;
	color:#fff;
}
.select_row a{
	color:#fff;
}

textarea{
	width:99%;
	max-height:400px;
	tab-size:4;
	background:#fff;
}
button{
	font-size:1em;
	padding:.2em;
	color:#111;
	background:#eee;
}
button:hover{
	background:#fff;
}
details{
	font-weight:500;
}
summary{
	text-decoration:underline;
}
summary:hover{
	text-decoration:none;
}

.table{
	overflow-x:scroll;
}
.table td{
	min-width:5em;
}
.table th, .table td{
	border:solid 1px #aaa;
}
#f{
	text-align:left;
}
#exit{
	border:solid 1px #fff;
	background:#f0b;
	padding:.2em;
}
#my, #my input{
	background:#555;
	font-weight:bold;
}
/* ディレクトリだけ見分けをつける */
.dir:before{
	content:"📁";
	color:#000;
	padding:.2em;
}


.note{
	background:#000;
	color:#ff0;
	display:block;
}
.cmenu{
	background:#fff;
	position:fixed;
	display:none;
	border:solid 1px #ccc;
}
.cmenu a, .cmenu p{
	color:#111;
	margin:.2em;
	display:block;
}
.blue_btn{
	color:#fff;
	background:#00c;
	padding:.2em;
	border:solid 1px #fff;
	font-size:1em;
}
.blue_btn:hover{
	background:#00e;
}
.full_screen{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	color:#000;
	overflow-y:scroll;
}
.full_screen input{
	background:#fff;
}
