/* 管理機能 */
#!include ../../../users/template.css;

h1{
	font-size:1.1em;
}
#exit{
	color:#fff;
}
select, option{
	font-size:1em;
	background:#fffa;
	color:#000;
}
input[type="text"]{
	border:solid 1px #ccc;
	font-size:1em;
	width:10em;
	outline:0;
}
tbody input[type="text"]{
	width:100%;
	border:0;
}
h1 input{
	padding:0;
}

table{
	width:100%;
	border-collapse:collapse;
	border:0;
}
th{
	text-align:left;
}
tbody a, tbody a:hover{
	text-decoration:none;
	font-weight:normal;
}
.select_row{
	background:#3ad;
	color:#fff;
}
.select_row a{
	color:#fff;
}

textarea{
	width:99%;
	max-height:400px;
	tab-size:4;
}
button{
	font-size:1em;
	padding:.2em;
	color:#111;
	background:#eee;
}
button:hover{
	background:#fff;
}
details{
	font-weight:500;
}
summary{
	text-decoration:underline;
}
summary:hover{
	text-decoration:none;
}

.table{
	overflow-x:scroll;
}
.table td{
	min-width:5em;
}
.table th, .table td{
	border:solid 1px #aaa;
}
#f{
	text-align:left;
}
#exit{
	border:solid 1px #fff;
	background:#f0b;
	padding:.2em;
}
#my, #my input{
	background:#555;
	font-weight:bold;
}
/* ディレクトリだけ見分けをつける */
.dir:before{
	content:"📁";
	color:#000;
	padding:.2em;
}

