h1,#exit{
	color:#fff;
}
html,body,input,textarea{
	background:#000;
	color:#eee;
}
select,option{
	font-size:1em;
	background:#fff;
	color:#000;
}
input[type="text"],input[type="password"]{
	border:solid 1px #fff;
	font-size:1em;
	width:10em;
}
form table input[type="text"],table input[type="password"]{
	width:95%;
	border:none;
	outline:none;
}
a,a:visited{
	color:#0a0;
}
a:hover{
	color:#ba0;
}
table{
	width:100%;
	border-collapse:collapse;
}
table,th,td{
	border:solid 1px #aaa;
}
tbody a{
	text-decoration:none;
	font-weight:bold;
}
.js_finput{
	font-size:.8em;
	display:inline-block;
	border:solid 1px #eee;
	background:#f0c;
	color:#111;
	margin:.2em;
}
.js_finput input{
	display:none;
}

textarea{
	width:99%;
	max-height:400px;
	tab-size:4;
}
button{
	font-size:1em;
	border:ridge .1em #111;
	padding:.2em;
	background:#eef;
}
button:hover{
	background:transparent;
	color:#fff;
}
#exit{
	border:solid 1px #fff;
	background:#f0b;
	padding:.2em;
}
#my,#my *{
	background:#555;
	font-weight:bold;
}


/* ファイル属性 */
.type_dir:before{
	content:'🗂';
}
.type_php:before{
	content:'🐈';
}
.type_html:before{
	content:'🌏';
}
.type_css:before{
	content:'🛡';
}
.type_js:before{
	content:'🗡';
}
.type_py:before{
	content:'◇';
}
.type_pl:before{
	content:'◎';
}
.type_rb:before{
	content:'▽';
}
.type_csv:before,.type_tsv:before{
	content:'✂';
}
.type_txt:before{
	content:'✉';
}
.type_htaccess:before,.type_ini:before,.type_conf:before{
	content:'⚙';
}
.type_image:before{
	content:'🖼';
}
.type_mpeg:before{
	content:'📺';
}
.type_zip:before{
	content:'❄';
}
.type_unknown:bofore{
	content:'⚠';
}

.profile h1{
	text-align:left;
}

