/* ugradeウィザード */
#!include ../../../users/template.css;

body,input,textarea{
	background:#034;
	color:#eee;
}
.wizard a, .wizard a:visited{
	color:#b55;
}
h1{
	color:#fff;
}
b{
	font-weight:bold;
	color:#ff0;
}
table{
	border-collapse:collapse;
}
th,td{
	border:solid 1px #0ff;
}
.wizard{
	border:double 3px #b60;
	padding:1em;
}
.warning{
	background:#ca6;
	color:#000;
}
#error{
	background:#ff0;
	color:#000;
}
#error b{
	color:#00f;
}

form{
	display:flex;
	padding:1em;
}
.file{
	background:#fff;
	color:#111;
}
.file:hover{
	background:#ccc;
}
.file, button{
	flex:1;
	display:block;
	font-size:1em;
	padding:.2em;
}
button{
	border-radius:.2em;
	background:#F73;
	color:#fff;
}
button:hover{
	color:#0f0;
}

