/* マイページ,ログイン・登録,プロフィール */
form{
	padding:1em;
}
select,option{
	font-size:1em;
	background:#fff;
	color:#000;
}
input[type="text"], input[type="email"], input[type="password"]{
	border:solid 1px #555;
	font-size:1em;
	width:10em;
}
textarea{
	width:99%;
	max-height:400px;
	tab-size:4;
}
button{
	font-size:1em;
	padding:.2em;
	background:#398;
	color:#fff;
}
button:hover{
	background:#938;
}
.profile h1{
	text-align:left;
}

.panel{
	display:flex;
}
.panel .user_info{
	width:50%;
}
.panel .side{
	width:50%;
}

